.article-section {
  &__img {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1376/600;
    margin-bottom: 32px;
    min-height: 280px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.36) 72.21%,
        rgba(0, 0, 0, 0.6) 100%
      );
      bottom: 0;
      left: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__author {
    position: absolute;
    bottom: 32px;
    left: 32px;
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-white);
    @include media-breakpoint-down(md) {
      left: 24px;
      bottom: 24px;
    }
  }
  &__bottom {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid var(--color-line);
  }
  &__bottom-title {
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 12px;
    &::before {
      background: var(--color-primary);
    }
  }
  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid var(--color-line);
      padding-left: 12px;
      padding-right: 12px;
      height: 26px;
      border-radius: 8px;
      text-decoration: none;
      transition: all 0.25s ease;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;

      &:hover {
        background: var(--color-primary);
        border-color: var(--color-primary);
        color: var(--color-white);
      }
    }
  }
}
