.matchCard {
  padding: 1rem;
  border: 1px solid var(--color-line);
  border-top-width: 3px;
  border-radius: 6px;
  background: var(--color-white);
  &__bottom {
    border-top: 1px solid var(--color-black-12);
    padding-top: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

.matchCard--live {
  border: solid var(--color-accent);
  border-width: 3px 1px 1px;
}
.matchCard--future {
  border: transparent;
}
