.h1,
.o-content h1 {
  font-family: var(--font-display);
  font-size: 52px;
  line-height: 64px;
  text-transform: uppercase;
  @include media-breakpoint-down(lg) {
    font-size: 32px;
    line-height: 125%;
  }
}

.h2 {
  font-family: var(--font-display);
  font-size: 36px;
  line-height: 125%;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  @include media-breakpoint-down(lg) {
    font-size: 28px;
    background-image: linear-gradient();
  }
}

.h3,
.o-content h3 {
  font-family: var(--font-display);
  font-size: 32px;
  line-height: 125%;
  text-transform: uppercase;
  @include media-breakpoint-down(lg) {
    font-size: 24px;
    line-height: 125%;
  }
}
.h4,
.o-content h4 {
  font-family: var(--font-display);
  font-size: 24px;
  line-height: 125%;
}
.h5,
.o-content h5 {
  font-family: var(--font-display);
  font-size: 20px;
  line-height: 125%;
}
.h6,
.o-content h6 {
  font-family: var(--font-display);
  font-size: 16px;
  line-height: 125%;
}

.perex {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  @include media-breakpoint-down(lg) {
    font-size: 18px;
  }
}

// base !!
.text-base-18 {
  font-size: 18px;
  line-height: 125%;
}
.text-base-16 {
  font-size: 1rem;
  line-height: 125%;
}
.text-base {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
}
.text-base-13 {
  font-size: 13px;
  line-height: 125%;
}
.text-base-12 {
  font-size: 12px;
  line-height: 125%;
}
// bold !!
.text-bold-20 {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
}
.text-bold-15 {
  font-weight: 700;
  font-size: 15px;
  line-height: 125%;
}
.text-bold-14 {
  font-size: 14px;
  line-height: 125%;
}
.text-bold-12 {
  font-size: 12px;
  font-weight: 700;
  line-height: 125%;
}
.text-bold-11 {
  font-size: 11px;
  font-weight: 700;
  line-height: 125%;
}
.text-bold-10 {
  font-weight: 700;
  font-size: 10px;
  line-height: 125%;
}
