.table {
  border-collapse: collapse;
  min-width: max-content;
  width: 100%;
  .text-bold-20 {
    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }
  }
  th,
  td {
    padding: 14px 16px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    @include media-breakpoint-down(md) {
      width: auto !important;
    }
  }
  th {
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    text-transform: uppercase;
  }
  td {
    border-bottom: 1px solid var(--color-line);
    color: var(--color-primary);
  }
  tr:last-child {
    td {
      border: none;
    }
  }
}

.table.tableDark {
  th {
    background: var(--color-primary);
    color: var(--color-white-70);
  }
  th:first-child {
    border-radius: 6px 0 0 6px;
  }
  th:last-child {
    border-radius: 0 6px 6px 0;
  }
}
.table.tableLight {
  th {
    background: var(--color-paper-2);
    color: var(--color-primary-60);
  }
}
