.partnersItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 332/220;
  border: 1px solid var(--color-line);
  padding: 1rem;
  img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
}
.partners-section__promo {
  position: relative;
  padding: 60px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  @include media-breakpoint-down(lg) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    padding-left: 24px;
    padding-right: 24px;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/content/promo.png");
    background-repeat: repeat-y;
    background-size: contain;
    z-index: 0;
  }

  &-link {
    position: relative;
    color: var(--color-white);
    background: var(--color-accent);
    text-transform: uppercase;
    transition: all 0.25s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    padding: 18px 32px;
    cursor: pointer;
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    width: fit-content;
    gap: 8px;
    border-radius: 8px;
    white-space: nowrap;
    svg path {
      transition: all 0.25s ease;
    }
    &:hover {
      background: var(--color-white);
      color: var(--color-primary);
      svg path {
        fill: var(--color-primary);
      }
    }
  }
}
