.matchesRound {
  display: flex;
  align-items: center;
  gap: 8px;
  &__date {
    color: var(--color-white);
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 8px;
    background: var(--color-primary);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__arrow {
    transition: all 0.25s ease;
    border: 1px solid transparent;
    background: var(--color-paper-2);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      border-color: var(--color-primary);
    }
  }
}
