.footer {
  background: var(--color-primary);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 100%;
    background: linear-gradient(
      90deg,
      #ffffff 0%,
      #ffffff 33.33%,
      #d7141a 33.33%,
      #d7141a 66.66%,
      #11427a 66.66%,
      #11427a 100%
    );
    bottom: 0;
    left: 0;
  }
  &__logo {
    font-family: var(--font-display);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: var(--color-white);
    text-decoration: none;
    margin-bottom: 16px;
    display: block;
  }
  &__social {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  &__social a {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: var(--color-white-6);
    transition: all 0.25s ease;
    border: 1px solid transparent;
    &:hover {
      border-color: var(--color-white);
    }
    svg path {
      fill: var(--color-white);
    }
  }
  a {
    transition: all 0.25s ease;
    &:hover {
      color: var(--color-white);
    }
  }
}

.footerInfo {
  max-width: 340px;
}
.footerBottom {
  border-top: 1px solid var(--color-white-10);
  padding: 24px 0;
}
