.statsLeaders {
  table {
    td {
      padding-left: 8px;
      padding-right: 8px;
    }
    td:first-child {
      width: 24px;
      padding-left: 0 !important;
    }
    td:last-child {
      text-align: right !important;
    }
  }
}
