.statsLeaders {
  td {
    @include media-breakpoint-down(md) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  table {
    td:first-child {
      width: 40px;
      padding-left: 0 !important;
    }
    td:last-child {
      text-align: right !important;
    }
  }
}
